//.loginpage {color:#fff;background:linear-gradient(135deg, #0f5132, #198754);

.loginpage {text-align:center;height:100%;
    .btngroup {position:relative;width:100%;padding:0px 20px;top:20%;
        #googleBtn {margin:30px 0;}
    }
    
}